@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$color-primary: #dc6c6a;
$color-secondary: #1a1c27;
$color-tertiary: #647070;
$color-hover: #ae4846;
$color-disabled: #e69391;

$color-dark: #000000;
$color-light: #ffffff;

$font-primary: Georgia, "Times New Roman", Times, serif;
$font-secondary: "Lato", sans-serif;

$desktop-small-width: 576px;
$desktop-width: 992px;
$desktop-large-width: 1200px;
