.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  background-color: $color-light !important;
  border-bottom: 2px solid $color-primary;
}

.navbar-nav {
  font-size: 1.1rem;
  a {
    color: $color-primary;
  }
  @media (min-width: 992px) {
    gap: 20px;
  }
}

.navbar-toggler {
  border: 1px solid $color-primary;
}

.bi-list {
  color: $color-primary;
  font-size: 2rem;
}
